/* GLOBAL */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-left: 157px;
    margin-right: 158px;
}

.bg-red {
    color: #EE4248;
}

/* HEADER */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0px;
}

.site-header{
    width: 1519px;
    height: 100px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header-logo:hover{
    opacity: 0.8;
}

.header-logo:active{
    opacity: 0.6;
}

.main-nav__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav__item:not(:last-child){
    margin-right: 50px;
}

.main-nav__item{
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    font-size: 18px;
}

.main-nav__item:hover{
    opacity: 0.8;
}

.main-nav__item:active{
    opacity: 0.6;
}

.main-nav__item a{
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8);
}

.header-icons{
    display: flex;
    margin-left: 116px;
}

.header-icons a:not(:last-child){
    margin-right: 24px;
}

.header-icons a:hover{
    opacity: 0.8;
}

.header-icons a:active{
    opacity: 0.6;
}


/* LEFT INFO */

.top-section > div {
    width: 50%;
    display: flex;
    align-items: center;
}

.left-info {
    float: left;
    margin-bottom: 150px;
}

.info-left-header {
    width: 545px;
    height: 192px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.info-left-paragraph {
    width: 520px;
    font-size: 20px;
    color: #30444E;
    font-weight: 400;
    line-height: 28.94px;
    margin-top: -24px;
    margin-bottom: 24px;
}

.main-button{
    width: 161px;
    height: 53px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding: 12px 34px;
    background-color: #EE4248;
}

.main-button:hover{
    opacity: 0.8;
}

.main-button:active {
    opacity: 0.6;
}

/* INFO RIGHT */
.info-right{
    float: right;
    margin-top: 100px;
}

/* MIDDLE CONTENT */
.middle-content {
    width: 1519px;
    height: 500px;
    background-color: #f6f6f6;
}

.middle-content > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-heading {
    width: 454px;
    font-weight: 500;
    font-size: 32px;
    line-height: 42.78px;
    margin-left: 82px;
}

.right-paragraph {
    width: 520px;
    color: #30444E;
    margin-left: 82px;
}

/* PRODUCT AND SERVICE */
.bottom-heading {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    color: #1F2E35;
    margin-top: 116px;
}

.bottom-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-description-info {
    color: #30444E;
    line-height: 27px;
    width: 319px;
    padding-bottom: 15px;
}

.info {
    width: 329px;
}

/* BOTTOM */
.bottom {
    margin-top: 110px;
}

.content {
    display: flex;
    flex-direction: row;
    padding-bottom: 13px;
    margin-bottom: 13px;
}

.left-heading-2 {
    font-weight: 300;
    color: #263238;
    width: 317px;
}

.right-heading-1 {
    font-size: 24px;
    font-weight: 500;
    color: #263238;
    margin-top: -35px;
    margin-left: 45px;
}

.right-heading-2 {
    /* width: 269px; */
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-left: 45px;
}

/* MAIN FOOTER */
.main-footer {
    width: 1519px;
    height: 65px;
    background-color: #EE4248;
}

.footer-heading {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 65px;
}
